<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ragapplication.mapper.KnowledgedbMapper">
    <delete id="deleteDbById">
        DELETE FROM knowledgedb WHERE id = #{dbId};
    </delete>

    <select id="queryAllByUserId" resultType="com.example.ragapplication.pojo.Knowledgedb">
        SELECT * FROM knowledgedb WHERE user_id = #{userId};
    </select>

    <select id="queryByName" resultType="com.example.ragapplication.pojo.Knowledgedb">
        SELECT * FROM knowledgedb
        WHERE user_id = #{userId} and name LIKE CONCAT('%', #{dbname}, '%');
    </select>

    <insert id="addDb">
        INSERT INTO knowledgedb (name, user_id,create_time, update_time, file_num)
        VALUES (#{dbname}, #{userId}, NOW(), NOW(), 0);
    </insert>

    <update id="addDbFileNum" parameterType="int">
        UPDATE knowledgedb
        SET file_num = file_num+1, update_time = NOW()
        WHERE id = #{dbid};
    </update>

    <update id="reduceDbFileNum" parameterType="int">
        UPDATE knowledgedb
        SET file_num = file_num-1, update_time = NOW()
        WHERE id = #{dbid};
    </update>

    <select id="existsByName" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM knowledgedb WHERE user_id = #{userId} and name = #{dbname});
    </select>

    <update id="addDbMultiFileNum" parameterType="int">
        UPDATE knowledgedb
        SET file_num = file_num + #{fileNum}, update_time = NOW()
        WHERE id = #{dbId};
    </update>

    <update id="reduceDbMultiFileNum" parameterType="int">
        UPDATE knowledgedb
        SET file_num = file_num - #{fileNum}, update_time = NOW()
        WHERE id = #{dbId};
    </update>
</mapper>